@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

.dictionary::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.dictionary::-webkit-scrollbar {
  width: 3px;
}

.dictionary::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.dictionary::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-link::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 0px;
  height: 4px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.menu-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.custom-btn{
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.dropdown-menu{
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes example {
  0%   {  height:0;}
  100% {height: 100%;}
}

/* Loading btn */
.loading-btn {
  display: flex;
  justify-content : center;
  align-items: center;
  min-height: 120px;
  width:120px;
  background: transparent;
  animation: animteBg 10s linear infinite;
}

@keyframes animteBg {
  0%   {  filter:hue-rotate(0deg);}
  100% { filter:hue-rotate(360deg);}
}

.loading-btn .loader {
  position:relative;
  width:40px;
  aspect-ratio: 1 / 1;

}

.loading-btn .loader span{
  position:absolute;
  top:0;
  left:0;
  width:100%;
   aspect-ratio: 1 / 1;

}

.loading-btn .loader span::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:8px;
  aspect-ratio: 1 / 1;
  background :#00ff0a;
  border-radius:50%;
  box-shadow:  0 0 10px #00ff0a,
             0 0 20px #00ff0a,
             0 0 40px #00ff0a,
             0 0 60px #00ff0a,
             0 0 80px #00ff0a,
             0 0 100px #00ff0a;
  animation:animate 2s linear infinite;
}

.loading-btn .loader .span-loader1::before {
  animation-delay:0.1s;
}

.loading-btn .loader .span-loader2::before {
  animation-delay:0.2s;
}
.loading-btn .loader .span-loader3::before {
  animation-delay:0.3s;
}
.loading-btn .loader .span-loader4::before {
  animation-delay:0.4s;
}
.loading-btn .loader .span-loader5::before {
  animation-delay:0.5s;
}
.loading-btn .loader .span-loader6::before {
  animation-delay:0.6s;
}
.loading-btn .loader .span-loader7::before {
  animation-delay:0.7s;
}
.loading-btn .loader .span-loader8::before {
  animation-delay:0.8s;
}
.loading-btn .loader .span-loader9::before {
  animation-delay:0.9s;
}
.loading-btn .loader .span-loader10::before {
  animation-delay:1s;
}
.loading-btn .loader .span-loader11::before {
  animation-delay:1.1s;
}
.loading-btn .loader .span-loader12::before {
  animation-delay:1.2s;
}
.loading-btn .loader .span-loader13::before {
  animation-delay:1.3s;
}
.loading-btn .loader .span-loader14::before {
  animation-delay:1.4s;
}
.loading-btn .loader .span-loader15::before {
  animation-delay:1.5s;
}
.loading-btn .loader .span-loader16::before {
  animation-delay:1.6s;
}
.loading-btn .loader .span-loader17::before {
  animation-delay:1.7s;
}
.loading-btn .loader .span-loader18::before {
  animation-delay:1.8s;
}
.loading-btn .loader .span-loader19::before {
  animation-delay:1.9s;
}

@keyframes animate {
  0%   {  transform:scale(1);}
  100% { transform:scale(0);}
}

.clound1 {
  animation :cloundOne infinite 30s linear;

}

.clound2 {
  animation :cloundOne infinite 20s linear;
}
.clound3 {
  animation :cloundThree infinite 25s linear;
}


@keyframes cloundOne
{
  0%{
  transform:translateY(0px);
  }
    100%{
   transform:translateY(600px);


  }
}

@keyframes cloundTwo
{
  0%{
  transform:translateY(0px);

  }
    100%{
   transform:translateY(300px);

  }
}

@keyframes cloundThree
{
  0%{
  transform:translateY(-600px);

  }
    100%{
   transform:translateY(300px);

  }
}



.home-title h1{
  margin:0;
  padding:0;
  color:#262626;
  background-image: linear-gradient(to right,#f00,#ff0,#0ff,#0f0,#00f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation :changeTextColor 20s linear infinite;
  background-size:1000%;
}

@keyframes changeTextColor {
  0% { background-position:0% 100%; }
  50% { background-position:100% 0%; }
  100% { background-position:0% 100%; }
}



@keyframes zombiemove {
  from{
background-position:0;
  }
  to{
background-position:1293px;

  }
}

.dropdown-open {
  transform: rotateX(180deg);
  transition: 0.7s;
  transform-origin: center;
}

.hover-scale:hover {
  transform: scale(1.25) !important;
  transition: 0.2s !important;
}

.train-run {
  animation: go-round 20s linear infinite
}

@keyframes go-round {
	from { 	transform: rotate(0deg) translateX(150px); }
	to   {  transform: rotate(360deg) translateX(150px); }
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #fff;
  pointer-events: none;
  border-radius: 50% 100% 100% 100%;
  z-index: 9999999;
  mix-blend-mode: difference;
  opacity: 0;
}

.slide-collection .slick-prev:before, .slick-next:before {
  color: #000;
}
